<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="paralib" type="com.paralib.Configuration.ParalibSection, paralib-common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" /> 
  </configSections>
  
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>

  <paralib>
    <dal>
      <databases default="paralib" sync="true">
        <database name="paralib" type="SqlServer" server=".\SQLEXPRESS" store="paralib" integrated="true" />
      </databases>
    </dal>

    <migrations devmode="true" />
      
    
  </paralib>


</configuration>