<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="paralib" type="com.paralib.Configuration.ParalibSection, paralib-common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" /> 
  </configSections>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>

  <connectionStrings>
    <add name="paralib" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=oovent;Integrated Security=True;" />
  </connectionStrings>

  <paralib>

    <dal>
      <databases default="paralib">
        <database name="paralib" server=".\SQLEXPRESS" store="paralib" integrated="true"/>
      </databases>
    </dal>
    
    <logging>
      <logs>
        <log name="db" type="database"/>
      </logs>
    </logging>
  
  </paralib>


</configuration>