<!DOCTYPE html>

<html>
<head>
    <title>The Application</title>
</head>
<body style="background-color: gainsboro;">

    <h1>This is the application.</h1>

    <div>
        @RenderBody()
    </div>

</body>
</html>
